* {
  margin: 0;
  padding: 0;
  color: #DDE0E2;
  box-sizing: border-box;
  letter-spacing: 0.12em;
  line-height: 1.75;
}
body {
  background-color: #121B25;
  background-image: url(./img/hero-img.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  margin: 0 auto;
}
hr {
  width: 100%;
  background-color: #DDE0E2;
}
p {
  font-weight: lighter;
  text-align: justify;
  letter-spacing: 3px;
  padding: 10px 0;

}
.section {
  margin-bottom: 80px!important;
}

@media (max-width: 575px) {
  .main-content {
    margin-top: 40px!important;
  }
  .navbar-brand {
      font-size: 2em;
  }
  .about-me {
      text-align: center;
  }
  .contact {
      margin: 0;   
  }
  h1 {
      font-size: 1.75rem!important;
  }
  h3 {
      font-size: 1.5em!important;
  }
  img.profile {
      width: 80%;
      padding-top: 10px;
      padding-bottom: 20px;
  }
  p, .nav-link {
      font-size: 1.1em;
  }
}
@media (min-width: 576px) {
  .main-content {
      padding-right: 15px;
      padding-left: 15px;
  }
  .navbar-brand {
      font-size: 2em;
  }
  .about-me {
      text-align: center;
  }
  .contact {
      margin: 0;   
  }
  h1 {
      font-size: 1.75em!important;
  }
  h3 {
      font-size: 1.5em!important;
  }
  hr {
      padding-right: 40px!important;
  }
  img.profile {
      width: 70%;
      padding-top: 10px;
      padding-bottom: 20px;
  }
  p, .nav-link {
      font-size: 1.1em;
  }
}
@media (min-width: 767px) {
  .main-content {
      padding-right: 30px;
      padding-left: 30px;
  }
  .about-me {
      text-align: left;
  }
  img.profile {
      float: left;
      width: 50%;
      padding: 10px 35px 9px 0px;
  }
}
@media (min-width: 992px) {
  .navbar-brand {
      font-size: 2.75em;
  }
  h1 {
      font-size: 2.25em!important;
  }
  h3 {
      font-size: 1.50em!important;
  }
  img.profile {
      float: left;
      width: 40%;
      padding: 10px 35px 9px 0px;
  }
  p, .nav-link {
      font-size: 1.25em;
  }
}