* {
  margin: 0;
  padding: 0;
  color: #DDE0E2;
  box-sizing: border-box;
  letter-spacing: 0.12em;
  line-height: 1.75;
}
body {
  background-color: #121B25;
  background-image: url(./img/hero-img.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  margin: 0 auto;
}
hr {
  width: 100%;
  background-color: #DDE0E2;
}
p {
  font-weight: lighter;
  text-align: justify;
  letter-spacing: 3px;
  padding: 10px 0;

}
.section {
  margin-bottom: 80px!important;
}